---
import { IG_URL, LINE_URL } from '../consts';
---

<aside class="cta">
  <p><strong>看完還是不確定孩子的狀況?</strong></p>
  <p>每個孩子都不一樣,文章只能講通則。歡迎來 Instagram 私訊我,或預約當面評估,讓我實際看看孩子的動作。</p>
  <div class="btns">
    <a class="btn" href={IG_URL}>IG 私訊謝寧</a>
    {LINE_URL && <a class="btn ghost" href={LINE_URL}>加 LINE 預約評估</a>}
  </div>
</aside>
